<div class="flex" *ngIf="photos.length===0; else main_content">
    <h1 class="mx-auto">No records.</h1>
</div> 
<ng-template #main_content>
    <div class="grid grid-cols-3 gap-4">
        <div class="max-w-xs" *ngFor="let photo of photos">
            <div class="h-80 block max-w-sm p-4 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" (click)="selectedCard(photo._id)">
                <div class="card-header font-mono">
                    {{photo.title}} 
                </div>
                <img [src]="url + photo.imagePath" class="h-36 max-w-full py-2 mx-auto">
                <div class="card-body mt-1">
                    <p class="font-mono text-gray-700 text-opacity-50 ">{{photo.description.substr(0,90)+'....'}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>