<div class="flex" *ngIf="photos.length===0; else main_content">
    <h1 class="mx-auto">No records.</h1>
</div> 
<ng-template #main_content>
    <div class="grid grid-cols-3 gap-4">
        <div class="max-w-xs" *ngFor="let photo of photos">
            <div class="block max-w-sm p-6 bg-white border border-gray-200 rounded-lg shadow hover:bg-gray-100 dark:bg-gray-800 dark:border-gray-700 dark:hover:bg-gray-700" (click)="selectedCard(photo._id)">
                <div class="card-header mb-1 font-mono">
                    {{photo.title}}
                </div>
                <img [src]="'http://localhost:3000/' + photo.imagePath" class="img-fluid w-100">
                <div class="card-body mt-1">
                    <p class="font-mono text-gray-700 text-opacity-50 ">{{photo.description}}</p>
                </div>
            </div>
        </div>
    </div>
</ng-template>